html,
body {
  height: 100%;
}

* {
  margin: 0px;
  padding: 0px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #6c757d;
  border-radius: 10px;
}

.overflow-auto {
  overflow: auto;
}

.bg-darker {
  background-color: #272a2c !important;
}
